server {
    listen 8080;

    location / {
        if ($http_authorization != "Bearer ${API_KEY}") {
            return 401 '{"error": {"message": "Invalid API key", "type": "invalid_request_error", "code": "invalid_api_key"}}';
        }

        proxy_pass http://tts:4123;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
